<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8plYB4o3g2oJaErbn26qkbdcge44AK8A</string>
	<key>GCM_SENDER_ID</key>
	<string>989038715703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiTravel.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>app-travel-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>app-travel-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989038715703:ios:264fccddf9a185b882f0b2</string>
</dict>
</plist>